/*=================================*/
/* Theme for rubenverweij.nl
/* By: Ruben Verweij
/* http://rubenverweij.nl
/*=================================*/

.rv-blog {
    min-height: 200px;
    text-align: center;
    font-size: 1.5em;
}

.blog-overview__post {
    background: #fff;
    margin: 16px 8px 16px 8px;
}

.blog-overview__post__meta,
.blog-post__meta {
    color: #999;
}

.blog-overview__post__excerpt {
    font-size: 1.2em;
}

.blog-post,
.blog-post__comments {
    background-color: white;
    padding-top: 6px;
    margin: 30px;
}
