/*=================================*/
/* Theme for rubenverweij.nl
/* By: Ruben Verweij
/* http://rubenverweij.nl
/*=================================*/

/* Intro block */
.rv-index__intro {
    min-height: 300px;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

a.btn__index__intro {
    color: #fff;
    border-color: #fff;
    font-size: 1em;
    font-weight: bold;
}

a.btn__index__intro:hover, a.btn__index__intro:focus
{
    background: #fff;
    color: #1A8FB4;    
}
