/*=================================*/
/* Theme for rubenverweij.nl
/* By: Ruben Verweij
/* http://rubenverweij.nl
/*=================================*/

.rv-about-me {
    min-height: 300px;
    text-align: center;
    font-size: 1.5em;
}

.lastfm__link {
	font-size: 1.2em;
}

.lastfm__link--noimg {
	padding-left: 82px;
}

.lastfm__img {
	margin-right: 12px;
}
