<phpunit bootstrap="vendor/autoload.php">
	<testsuites>
		<testsuite name="general">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
	<logging>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
	</logging>
	<filter>
        <blacklist>
              <directory>./tests</directory>
              <directory>./build</directory>
              <directory>./vendor</directory>
        </blacklist>
    </filter>
</phpunit>
