<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.description %}
	    <meta name="description" content="{{ page.description }}"> 
    {% endif %}
    {% if page.robots %}
	    <meta name="robots" content="{{ page.robots }}">
    {% endif %}
    {% if page.author %}
	    <meta name="author" content="{{ page.author }}"> 
    {% endif %}
    
    {% if assets.css %}
	    {% for stylesheet in assets.css %}
		    <link href="{{ stylesheet|e }}" type="text/css" rel="stylesheet">
		{% endfor %}
	{% endif %}
    
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
        
  </head>

  <body>
    
    {% block content %}
    <div>
        {{ blocks.content }}
    </div> <!-- /container -->
    {% endblock %}
    
    {% if assets.js %}
        {% for scriptfile in assets.js %}
		    <script src="{{ scriptfile|e }}"></script>
		{% endfor %}
	{% endif %}
    
  </body>
</html>
