<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if custom.description %}
	    <meta name="description" content="{{ custom.description }}"> 
    {% endif %}
    {% if custom.robots %}
	    <meta name="robots" content="{{ custom.robots }}">
    {% endif %}
    {% if custom.author %}
	    <meta name="author" content="{{ custom.author }}"> 
    {% endif %}
    
    <title>{% if custom.title %}{{ custom.title }} | {% endif %}{{ config.title }}</title>
    {% block head %}
    {% spaceless %}
    <link href="{{- css_prefix -}}
                {{- theme_path -}}/css/style.css
                {% if css is not empty %}
                {% spaceless %}
                    ,{{- css -}}
                {% endspaceless %}
                {% endif %}" rel="stylesheet">
    {% endspaceless %}
    {% endblock %}
    
  </head>

  <body>
    
    {% block content %}
    <div>
        {{ content }}
    </div> <!-- /container -->
    {% endblock %}

    {% block footer %}
    {% if javascript is not empty %}
    {% spaceless %}
    <script src="{{- js_prefix -}}
                 {% if javascript is not empty %}
                 {% spaceless %}
                    ,{{- javascript -}}
                 {% endspaceless %}
                 {% endif %}"></script>
    {% endspaceless %}
    {% endif %}
    {% endblock %}
    
  </body>
</html>
