<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Crispus CMS</title> 
        
        {% if css is not empty %}
            <link rel="stylesheet" href="{{ css }}">
        {% endif %}
    </head>
    <body>
        {{ content }}

        {% if javascript is not empty %}
            <script src="{{ javascript }}"></script>
        {% endif %}
    </body>
</html>
